* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body {
    background-image: url(./assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display:table;
    width:100%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    border-bottom-right-radius: 50px;
}
 /* background: linear-gradient(150deg, rgba(107, 11, 197,0.9),rgba(255, 139, 178,0.9));
 transition: opacity 0.5s 1s;
 opacity: 0.7; */
.left-col {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.right-col {
    width: 100%;
    font-size: 20px;
    color: whitesmoke;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 50px;
}
#img-profile {
    border-radius: 80%;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    background: rgba(110, 122, 111, 0.3);
}
hr {
    background-color: red;
    display: block;
    height: 0.1em;
    width: 70px;
    border: 0;
    margin: 1em 0;
    padding: 0 ; 
}
button {
    background-color: white;
    color: purple;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 30px;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    word-spacing: 3px;
    margin: 5px;
}

@media only screen and (max-width: 550px) {
    .left-col {
        text-align: center;
    }
    .right-col {
        margin: 0px 0px 50px 0px;
    }
    hr {
        margin: 0px 0px 0px 70px;
    }
    #img-profile {
        border-radius: 50%;
        max-width: 100px;
        max-height: 100px;
        margin: 0px 10px 0px 10px;
        float: left;
        background: rgba(110, 122, 111, 0.3);
    }
  }